#programas {
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    .left-programs {
        height:100%;
        width:50%;
        display: flex;
        justify-content: space-around;
        align-items: left;
        flex-direction: column;
        padding: 1rem 2rem;
        text-align: left;
        gap: 2rem;
        h2 {
            font-size: 3rem;
            color: rgb(56, 56, 56);
            text-shadow: 0px 0px 3px rgb(190, 190, 190);
            font-weight: 700 !important;
        }
        h3 {
            color: rgb(56, 56, 56);
            font-size: 1.8rem;
        }
        p {
            color: rgb(144, 144, 144);
            font-size: 1.5rem;
        }
        button {
            width: 15rem;
            border: none;
            box-shadow: 0px 0px 10px 0px #bdbbbb;
            background-color: #5454d4;
            border-radius: 0.5rem;
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 1.2rem 0rem;
        }
    }
    .right-programs {
        width: 50%;
        
        padding: 1rem 2rem;
        .e{
            margin-top: 1rem;
            border: 1px solid rgb(226, 223, 223);
            border-radius: 0.5rem;
            box-shadow: 0px 0px 20px 0px rgb(192, 192, 192);
            min-width: 9rem;
            min-height: 9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .inside{
            
                h4{
                    color: rgb(129, 129, 129);
                    text-align: center;
                    font-size: 1.5rem;
                }
                p{
                    color: rgb(129, 129, 129);
                    text-align: center;
                    font-size: 1.2rem;
                
                }

            }
        }
        
    }
}
